body {
    background-image: url(/img/background.jpg);
    background-size:cover;
    font-family: 'Courier New', Courier, monospace;
    color: whitesmoke
}

.box-foto {
   background-image: url(img/Foto-pessoal.jpeg);
   background-size: 350px 350px;
   width: 350px;
   height: 350px;
   border-radius: 30%;
   margin: 0 auto;
}


.personal-list {
    margin: 0 auto;
    width: 20%; /* Valor da Largura */

}