body {
    background-image: url(/img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
}

#version {
    font-weight: bold;
    margin-bottom: 3px;
}

.layout-externo {
    border: 5px solid white;
    border-radius: 15px;
    margin: 0 auto;
    max-width: 900px;
    padding: 40px;
}

.box-foto {
    background-image: url(img/Foto-pessoal.jpeg);
    background-size: 250px 250px;
    border-radius: 30%;
    height: 250px;
    margin: 0 auto;
    width: 250px;
}



h1 {
    border: 5px solid wheat;
    border-radius: 15px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    padding: 10px;
    width: fit-content;
}

.layout-interno {
    border: 5px solid yellowgreen;
    border-radius: 15px;
    margin-top: 25px;
    padding: 30px;
    text-align: justify;
}

#personal-profile {
    border-bottom: 5px ridge rosybrown;
    font-size: 30px;
    padding-bottom: 5px;
    text-align: center;

}

.img-icon {
    display: flex;
    justify-content: space-evenly;
}

.img-github {
    margin-bottom: 5px;
    width: 78px;
}

.github {
    padding-top: 12px;
}

.img-linkedin {
    display: inline;
    width: 100px;
}


.personal-list {
    margin: 0 auto;
    display: block;
}

.layout-texto {
    border: 5px solid red;
    border-radius: 15px;
    margin: 30px;
    padding: 50px;
}