#version {
   
}


body {
    background-color: #515751;
    font-family: 'Courier New', Courier, monospace;
}

.box-foto {
   background-image: url(img/Foto-pessoal.jpeg);
   background-size: 350px 350px;
   width: 350px;
   height: 350px;
   border-radius: 30%;
}


.personal-list {
    margin: 0 auto;
    width: 20%; /* Valor da Largura */

}