#version {
    top: 1px;
    left: 1px;
    position: fixed;
    font-family:Verdana, "Geneva", Tahoma, sans-serif;
    font-size: 15px;
    color: #de1919;
    z-index: 200;
}


body {
    background-color: #515751;
}

#personal-photo {
    border-radius: 20px;
    display:block;
    margin: 0 auto
}